* {
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    padding: 20px;
    background-image:
            linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(https://media.discordapp.net/attachments/854673238327951363/1062852430989107364/ios-13-stock-multicolor-black-background-ipad-hd-3200x3200-796.png);
    color: #ffffff
}

.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    min-height: 100vh;
    width: 100%;

    background-position: center;
    background-size: cover;
    position: relative;
}
.main{
    padding: 30px;
    font-size: 20px;
    text-align: center;
    min-height: 100vh;
    width: 100%;

    background-position: center;
    background-size: cover;
    position: relative;}
.image{
    padding: 30px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,0%);
    text-align: center;
}
.card{
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-45%,-45%);
    text-align: center;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

}
